:root {
  --color-white: #fff;
  --color-gray-900: #f0f0f0;
  --color-gray-700: #bfbfbf;
  --color-gray-400: #555;
  --color-gray-300: #333;
  --color-black: #000;

  --color-gradation-1: hsl(30deg 100% 50%);
  --color-gradation-2: hsl(0deg 100% 50%);

  --color-bg: var(--color-gray-900);
  --color-bg-footer: var(--color-gray-400);

  --color-text-white: var(--color-gray-900);
  --color-text-white-dark: var(--color-gray-700);
}
