<div class="common-layout"><slot /></div>

<style lang="scss">
  .common-layout {
    position: relative;
    z-index: 1;
    background-color: var(--color-bg);
    filter: drop-shadow(0 10px 16px rgb(0 0 0 / 50%));
  }
</style>
