<div class="common-title">
  <span class="common-title_logo">{`{E}`}</span>
  <span class="common-title_project">Project</span>
  <span class="common-title_number">#001</span>
</div>

<style lang="scss">
  .common-title {
    display: flex;
    align-items: center;
  }

  .common-title_logo {
    font-size: 1.5rem;
    font-weight: var(--typo-weight-logo);
  }

  .common-title_project {
    margin-left: 0.5rem;
    text-transform: uppercase;
  }

  .common-title_number {
    margin-left: 2.5rem;
  }
</style>
